[OutbreakInvestigators]
Investigators = Austin Connally, 

[NBSdb]
driver = ODBC Driver 18 for SQL Server
# SQL Server Native Client 11.0
server = 172.17.135.14       
port = 1433
rdb = rdb
username = me_rdb_readonly
pwd = Stu0icuKi$=uTrep          
unassigned_covid_lab_table = rdb.dbo.COVID_LABS_UNASSOCIATED
patient_list_view = rdb.dbo.D_PATIENT

[email]
smtp_server = smtp.state.me.us
nbsbot_email = nbsauto.dhhs@maine.gov
covid_informatics_list = COVID.Informatics@maine.gov
covid_admin_list = COVID.Admin@maine.gov
covid_commander = vaishnavi.appidi@maine.gov    #disease.reporting@maine.gov
#ili_outbreak_investigator = ['vaishnavi.appidi@maine.gov', 'Anna.Krueger@maine.gov']

[usps]
user_id = 654MAINE4737